<form method="post" action="{{ path('app_documents_delete', {'id': document.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer cet élément?');">

    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ document.id) }}">
<button class="btn">Supprimer</button>

</form>
