{% extends 'base.html.twig' %}

{% block title %}Modifier les documents
{% endblock %}


{% block body %}
<h1>Modifier les documents</h1>


    {{ include('documents/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_documents_index') }}">back to list</a>

    {{ include('documents/_delete_form.html.twig') }}
{% endblock %}
{{ include('documents/_delete_form.html.twig') }}
