{% extends 'base.html.twig' %}

{% block title %}E-mail de réinitialisation du mot de passe envoyé
{% endblock %}

{% block body %}
	<p>
		Si un compte correspondant à votre e-mail existe, un e-mail a été envoyé avec un lien pour réinitialiser votre mot de passe.
		        Ce lien expirera dans
		{{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
	</p>
	<p>Si vous ne recevez pas l'e-mail, vérifiez votre dossier de spam ou
		<a href="{{ path('app_forgot_password_request') }}">réessayez</a>.</p>
{% endblock %}

