{% extends 'base.html.twig' %}

{% block title %}Faq
{% endblock %}
{% block javascripts %}
		{{ importmap('faq') }}
{{ importmap('app') }}


{% endblock %}


{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('styles/faq.css') }}">
{% endblock %}


{% block body %}


	<div class="faq-container">
		<h1 class="titr">

			Bienvenue sur notre page FAQ. Voici les questions les plus fréquentes sur nos services et notre mission. Nous espérons que vous y trouverez les réponses à vos questions.
		</h1>

		<div class="faq-item">
			<button class="faq-question">Qu'est-ce que vous faites exactement pour accompagner la société via le numérique ?</button>

			<div class="faqAnswer">
				<p>Nous accompagnons la société en proposant des outils et des ressources numériques qui facilitent
																																																											                    l'accès à l'emploi pour les chômeurs et les personnes
																																																											                    éloignées de la vie professionnelle. Nous vulgarisons les connaissances dans divers domaines pour
																																																											                    rendre l'information accessible à tous.</p>
			</p>
		</div>
	</div>
	<div class="faq-item">
		<button class="faq-question">Comment facilitez-vous l'accès à l'emploi pour les chômeurs et les personnes éloignées de la vie
																																				                    professionnelle ?</button>

		<div class="faqAnswer">
			<p>Nous offrons des services tels que des ateliers de formation, des conseils en carrière, et des
																																											                    ressources en ligne pour aider les chômeurs et les personnes
																																											                    éloignées de la vie professionnelle à se réinsérer dans le marché du travail.
			</p>
		</div>
	</div>
	<div class="faq-item">
		<button class="faq-question">Comment aidez-vous les étudiants à concrétiser leurs projets d’études en Europe ?</button>

		<div class="faqAnswer">
			<p>Nous aidons les étudiants à concrétiser leurs projets d’études en Europe en fournissant des conseils
																																					                    sur les inscriptions universitaires,
																																					                    l'obtention de visas, et en les guidant tout au long du processus de candidature.</p>
		</div>
	</div>

	<div class="faq-item">
		<button class="faq-question">Comment aidez-vous les étudiants à concrétiser leurs projets d’études en Europe ?</button>

		<div class="faqAnswer">
			<p>Nous aidons les étudiants à concrétiser leurs projets d’études en Europe en fournissant des conseils
																																								                    sur les inscriptions universitaires,
																																								                    l'obtention de visas, et en les guidant tout au long du processus de candidature.</p>
		</div>
	</div>
	<div class="faq-item">
		<button class="faq-question">Comment aidez-vous les étudiants à concrétiser leurs projets d’études en Europe ?</button>

		<div class="faqAnswer">
			<p>Nous aidons les étudiants à concrétiser leurs projets d’études en Europe en fournissant des conseils
																																								                    sur les inscriptions universitaires,
																																								                    l'obtention de visas, et en les guidant tout au long du processus de candidature.</p>
		</div>
	</div>

</div>{% endblock %}
