{% extends 'base.html.twig' %}

{% block title %}FAQ
{% endblock %}
{% block javascripts %}
	{% block importmap %}
		{{ importmap(['app', 'faq']) }}


	{% endblock %}
{% endblock %}


{% block body %}
	<div
		class="mt-32 mb-20">

		<!-- Espace en haut de la page -->
		<div class="faq-container max-w-2xl mx-auto p-6 bg-white shadow-lg rounded-lg mt-16">
			<h1 class="titr text-center text-xl sm:text-2xl font-bold text-gray-800 mb-6">
				Bienvenue sur notre page FAQ. Voici les questions les plus fréquentes sur nos services et notre mission. Nous espérons que vous y trouverez les réponses à vos questions.
			</h1>

			<div class="faq-item border-b border-gray-200 pb-4 mb-4">
				<button class="faq-question w-full text-left text-lg sm:text-xl text-gray-800 py-2 hover:bg-gray-100 transition duration-300 ease-in-out">
					Quelles sont les formations que vous conseillez aux étudiants après le bac ?
				</button>
				<div class="faqAnswer hidden px-4 py-2 bg-gray-50 border-l-4 border-gray-800 mt-2">
					<p class="text-sm sm:text-base">Nous proposons diverses formations post-bac adaptées à votre profil et à vos aspirations : universités, BTS, IUT, écoles de commerce et d'ingénieurs, formations professionnelles ou études à l’étranger. Nous vous aidons à choisir la filière qui correspond le mieux à vos intérêts, compétences et objectifs professionnels.</p>
				</div>
			</div>


			<div class="faq-item border-b border-gray-200 pb-4 mb-4">
				<button class="faq-question w-full text-left text-lg sm:text-xl text-gray-800 py-2 hover:bg-gray-100 transition duration-300 ease-in-out">
					Comment se passe l’accompagnement pour l'orientation ?
				</button>
				<div class="faqAnswer hidden px-4 py-2 bg-gray-50 border-l-4 border-gray-800 mt-2">
					<p class="text-sm sm:text-base">
						Notre accompagnement inclut :
						<ul>
							<li>Analyse de votre profil, intérêts et ambitions.</li>
							<li>Conseils personnalisés pour choisir la bonne filière.</li>
							<li>Aide à la préparation des dossiers, notamment Parcoursup.</li>
							<li>Suivi jusqu’à l’inscription et préparation aux entretiens.</li>
						</ul>
					</p>
				</div>
			</div>

			<div class="faq-item border-b border-gray-200 pb-4 mb-4">
				<button class="faq-question w-full text-left text-lg sm:text-xl text-gray-800 py-2 hover:bg-gray-100 transition duration-300 ease-in-out">
					Quels sont les services d'aide aux démarches proposés ?
				</button>
				<div class="faqAnswer hidden px-4 py-2 bg-gray-50 border-l-4 border-gray-800 mt-2">
					<p class="text-sm sm:text-base">
						Nous vous assistons dans toutes les démarches administratives :
						<ul>
							<li>Aide à la rédaction des lettres de motivation et préparation des dossiers.</li>
							<li>Conseils sur l’utilisation de Parcoursup et suivi des réponses.</li>
							<li>Assistance pour finaliser l'inscription une fois accepté.</li>
						</ul>
					</p>
				</div>
			</div>


			<div class="faq-item border-b border-gray-200 pb-4 mb-4">
				<button class="faq-question w-full text-left text-lg sm:text-xl text-gray-800 py-2 hover:bg-gray-100 transition duration-300 ease-in-out">
					Comment facilitez-vous l'accès à l'emploi pour les chômeurs et les personnes éloignées de la vie professionnelle ?
				</button>
				<div class="faqAnswer hidden px-4 py-2 bg-gray-50 border-l-4 border-gray-800 mt-2">

					<p class="text-sm sm:text-base">Nous offrons des services tels que des ateliers de formation, des conseils en carrière, et des ressources en ligne pour aider les chômeurs et les personnes éloignées de la vie professionnelle à se réinsérer dans le marché du travail.</p>
				</div>
			</div>
			<div class="faq-item border-b border-gray-200 pb-4 mb-4">
				<button class="faq-question w-full text-left text-lg sm:text-xl text-gray-800 py-2 hover:bg-gray-100 transition duration-300 ease-in-out">
					Proposez-vous des simulations d’entretiens pour aider à la sélection des écoles ou universités ?
				</button>
				<div class="faqAnswer hidden px-4 py-2 bg-gray-50 border-l-4 border-gray-800 mt-2">
					<p class="text-sm sm:text-base">
						Oui, nous organisons des simulations d’entretiens avec des experts en recrutement. Ils vous conseilleront sur la présentation, la gestion du stress, et les réponses aux questions courantes.
					</p>
				</div>
			</div>


		</div>
		<div class="text-center mt-10">
			<a href="{{ path('app_contact') }}" class=" bg-blue-900 text-white py-2 px-4 xl:py-4 xl:px-6 rounded-lg hover:bg-sky-600  ">

				Nous contacter
			</a>
		</div>


	</div>
{% endblock %}
