.title{
    font-size: 16px;
    width: 100%;
        text-align: left;
        padding: 10px;

}
.faq-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

.faq-item {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.faq-question {
    width: 100%;
    text-align: left;
    padding: 10px;
    font-size: 18px;
    color: #333;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.faqAnswer {
    display: none;
    padding: 10px 20px;
    margin-top: 10px;
    font-size: 12px;
}

.mystyle {
    display: block;
}