.header {
    z-index: 1000;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #14213D;
    padding: 8px 20px 9px 20px;
}

.nav_header {
    display: flex;
    align-items: center;
    justify-content: space-between;

}


.logo img {
    height: 50px;
}



.burger img {
    width: 30px;
    cursor: pointer;
    display: none;
}

.nav_links_container {

    display: flex;
    justify-content: flex-end;

}

.nav_links {
    list-style: none;
    display: flex;
    align-items: center;

}

ul>li {
    margin: 23px;
}

.nav_link {
    color: white;
    text-decoration: none;
    transition: all 0.3s ease;
}

.nav_link:hover {
    background-color: #14213D;
    color: #ecf0f1;
    padding-bottom: 3px;
    border-bottom: solid 1px #0284C7;
}

.nav_button {
    background-color: #0284C7;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

.nav_button:hover {
    background-color: #14213D;
}

@media (max-width: 825px) {
    .burg {
        color: white;
        text-align: center;
        font-size: 15px;
    }

    .nav_links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: #14213D;
        width: 100%;
        display: none;
    }

    .nav_links_container {

        display: none;
    }

    .nav_links.show {
        display: flex;

    }

    .burger img {
        display: block;
    }
}