{% extends 'base.html.twig' %}

{% block title %}Nouveau rendez-vous
{% endblock %}

{% block body %}

	<!-- Ajout d'espace en haut de la page et centrage du titre -->
	<div
		class="mt-40">
		<!-- Marge augmentée en haut -->
		<h1 class="text-2xl font-bold mb-6 text-black text-center">Créer un nouveau rendez-vous</h1>
		<!-- Titre centré -->

		<div class="bg-white p-6 rounded-lg shadow-md">
			{{ include('appointment/_form.html.twig') }}
		</div>








	</div>
</div>{% endblock %}
