<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Nouveau Contact</title>
		<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
	</head>
	<body class="bg-gray-100 font-sans">
		<div class="container mx-auto max-w-4xl bg-white shadow-md rounded-lg overflow-hidden mt-10">
			<div class="bg-gray-100 py-4 text-center border-b border-gray-200">
				<h1 class="text-2xl font-bold text-gray-900">Notification</h1>
			</div>
			<div class="p-6 bg-white">
				<p class="text-gray-700">Bonjour,</p>
				<p class="text-gray-700 mt-2">Vous avez reçu un nouveau message.</p>
				<p class="text-gray-700 mt-2">Voici les détails :</p>
				<ul class="list-disc list-inside mt-4 mb-4 text-gray-700">
					<li>
						<strong class="font-medium">Nom :</strong>
						{{ contact.name|e }}
					</li>
					<li>
						<strong class="font-medium">Email :</strong>
						{{ contact.email|e }}
					</li>
					<li>
						<strong class="font-medium">Sujet :</strong>
						{{ contact.subject|e }}
					</li>
					<li>
						<strong class="font-medium">Message :</strong>
						{{ contact.message|e }}
					</li>
				</ul>
				<p class="text-gray-700 mt-2">Merci pour votre attention.</p>
			</div>
			<div class="bg-gray-100 py-4 text-center border-t border-gray-200">
				<p class="text-gray-700">&copy; 2024 Univers du Scientifique. Tous droits réservés.</p>
			</div>
		</div>
	</body>
</html>

