<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Mot de passe réinitialisé</title>
	</head>
	<body>
		<h1>Bonjour
			{{ user.firstname|default('Utilisateur') }},</h1>
		<p>Votre mot de passe a été réinitialisé avec succès. Voici vos nouveaux identifiants :</p>
		<ul>
			<li>
				<strong>Email :</strong>
				{{ email|default('non défini') }}</li>
			<li>
				<strong>Nouveau mot de passe :</strong>
				{{ password|default('non défini') }}</li>
		</ul>
		<p>Nous vous recommandons de changer ce mot de passe après votre prochaine connexion.</p>
		<p>Cordialement,<br>L'équipe</p>
	</body>
</html>

