<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Bienvenue</title>
	</head>
	<body>
		<h1>Bienvenue,
			{{ email }}
			!</h1>
		<p>Vous avez été ajouté à notre plateforme.</p>
		<p>Voici vos identifiants pour vous connecter :</p>
		<ul>
			<li>
				<strong>Email :</strong>
				{{ email }}</li>
			<li>
				<strong>Mot de passe :</strong>
				{{ password }}</li>
		</ul>
		<p>Pour des raisons de sécurité, nous vous recommandons de modifier votre mot de passe dès votre première connexion.</p>

	</body>
</html>
