<footer>
	<div class="footer-container">
		<div class="footer-section logo">
<img src="{{ asset('img/home/logo.png') }}" alt="Logo du site">

				</div>
		<div class="footer-section help">
			<h4>BESOIN D'AIDE ?</h4>
			<p>
				<a href="#">Faq</a>
			</p>
		</div>
		<div class="footer-section connect">
			<h4>RESTER CONNECTÉ</h4>
			<p>
				<a href="#">Facebook</a>
			</p>
			<p>
				<a href="#">YouTube</a>
			</p>
		</div>
		<div class="footer-section contact">
			<h4>CONTACT</h4>
			<p>Adresse : 5573, Avenue Kauka a/Batetela<br>
				Commune/Gombe Immeuble Maisha Park<br>
				Local C12,<br>
				Kinshasa, Democratic Republic of the Congo</p>
			<p>Tél: +243 999 103 505</p>
			<p>Email:
				<a href="mailto:univsc288@gmail.com">univsc288@gmail.com</a>
			</p>
		</div>
	</div>
</footer>

