<footer class="footer">
		<div class="container">
			<div class="section help">
				<img src="{{ asset('img/home/logo.png') }}" alt="Logo du site"></div>


			<h5>BESOIN D'AIDE ?</h5>
			<ul>
				<li><a href="#">FAQ</a></li>
			</ul>
		</div>
		<div class="section connect">
			<h5>RESTER CONNECTÉ</h5>
			<ul>
				<li><a href="#">Facebook</a></li>
				<li><a href="#">YouTube</a></li>
			</ul>
		</div>
		<div class="section contact">
			<h5>CONTACT</h5>
			<address>
				<p>Adresse : 5573, Avenue Kauka a/Batetela</p>
				<p>Commune/Gombe Immeuble Maisha Park Local C12,<br>Kinshasa, Democratic Republic of the Congo</p>
				<p>Tél: +243 999 103 505</p>
				<p>E-mail: univsc288@gmail.com</p>
			</address>
		</div>
	</div>
	<p class="copyright">&copy; 2024 Univers du Scientifique. Tous droits réservés.</p>
</footer>
